//@ Background
.bg-greendot {
    background: #e2f0e1;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        width: 220px;
        height: 280px;
        background: #c9ebc7;
        border-radius: 50%;
        position: absolute;
        top: 43px;
        right: -10%;
        z-index: 1;
    }
    &::after {
        content: "";
        width: 220px;
        height: 280px;
        background: #c9ebc7;
        border-radius: 50%;
        position: absolute;
        bottom: 43px;
        left: -10%;
        z-index: 1;
    }
}
.bg-yellowdot {
}

//@ Loading
//頁面跳轉動畫
.goto-page {
    position: relative;
    color: #ea6100;
    letter-spacing: 1px;
}
.goto-page::after {
    content: attr(data-text);
    position: absolute;
    top: 8px;
    left: 78px;
    width: 30%;
    color: #ea6100;
    overflow: hidden;
    animation: type 1s steps(11) infinite;
    -webkit-animation: type 1s steps(11) infinite;
    white-space: nowrap;
}
@keyframes type {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
.loading-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999 !important;
    }
    .spinner-border--width {
        width: 75px;
        height: 75px;
        border: 0.1em solid $light;
        border-right-color: transparent;
    }
}

.loading-wrapper-light {
    background: #fff;
}

//@ Card
.goCard {
    border-radius: 20px;
    box-shadow: 0px 4px 17px rgba(59, 59, 59, 0.25);
    padding: 30px;
    @include view-992 {
        padding: 20px;
    }
}
.ticket-card {
    &-img {
        //背景圖片
        position: relative;
        background-size: cover;
        height: 100%;
        @include view-992 {
            height: 300px;
        }
        @include view-576 {
            height: 392px;
        }
        &::after {
            //虛線條
            content: "";
            background-image: linear-gradient(to bottom, $light 0%, $light 50%, transparent 50%);
            background-size: 7px 17px;
            background-repeat: repeat-y;
            position: absolute;
            top: 0px;
            right: -8px;
            width: 10px;
            height: 100%;
        }
    }
    .price-container > div {
        width: 100%;
    }
    .price {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .des {
        &::before {
            content: "";
            border-right: 1px dashed $light;
            margin: 0 8px;
            height: 100%;
            width: 5px;
        }
    }
    .title {
        line-height: 32px;
    }
}
.tool-card {
    .process-btn {
        padding: 10px;
        cursor: pointer;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &-header {
            display: flex;
            align-items: center;
            font-size: 12px;
            writing-mode: vertical-lr;
            letter-spacing: 5px;
            padding: 16px 5px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            position: absolute;
            top: 25px;
            right: -32px;
            z-index: 1;
            margin-bottom: 8px;
            @include view-992 {
                border-radius: 10px;
                writing-mode: horizontal-tb;
                display: block;
                text-align: center;
                position: static;
                margin: 20px 0;
                font-size: 16px;
            }
        }
        &-body {
            background: $primary;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            @include view-768 {
                display: block;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            @include view-768 {
                flex-direction: column;
            }
            p {
                padding: 5px;
                color: #fff;
            }
        }
        &-icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: $primary-l;
            position: relative;
            .icon {
                @include position-center;
            }
        }
    }
    .icon-arrow-down {
        transform: rotate(270deg);
        margin: 0 10px;
        @include view-768 {
            transform: translate(0);
        }
    }
    .icon-error {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}

//@ Button List
//* -- RadiusList
.radius-list {
    .radius-list-item {
        border-radius: 25px;
        margin: 0 5px;
        .btn {
            padding: 3px 10px !important;
            font-size: 14px;
            font-weight: bolder;
            color: $primary;
        }
    }
}
//* -- InsuranceTypeList
.insurance-type-list {
    border-radius: 50px;
    .btn {
        outline: none;
        border: 1px solid transparent;
        &:active,
        &:focus,
        &:hover {
            border: 1px solid transparent;
            outline: none;
        }
    }
    .active-arrow {
        position: absolute;
        right: -18px;
        top: 50%;
        transform: translateY(-50%);
    }
}

//* -- RightArrowList
.rightarrow-list {
    @include view-992 {
        margin-bottom: 20px;
    }
    .rightarrow-item {
        padding: 11px 30px;
        border-radius: 50px;
        box-shadow: 0 0 10px 0 rgba(59, 59, 59, 0.3);
        background: $light;
        color: $primary;
        cursor: pointer;
        transition: all 0.3s;
        &:nth-child(even) {
            margin: 26px 0;
        }
        &:hover {
            background: $primary-s;
            margin-left: 15px;
        }
        &.active {
            background: $primary;
            color: $light;
            position: relative;
            transition: all 0.2s;
            .icon-arrow_up_full {
                transform: rotate(90deg) translateX(-50%);
                position: absolute;
                top: 50%;
                right: -14px;
                transition: all 0.3s;
                @include view-992 {
                    display: none !important;
                }
            }
        }
    }
}

.transparent-btn {
    a {
        width: 50%;
        @include view-768 {
            width: 100%;
        }
    }
}

.button-primary-shadow {
    box-shadow: 0 0 5px rgba($primary, 0.8) !important;
    &:active,
    &:focus {
        box-shadow: 0 0 5px rgba($primary, 0.8) !important;
    }
}

//@ Banner
.banner-list-container {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
    margin: 10px;
    cursor: pointer;
}
.banner-btn-list {
    height: 42px;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    position: relative;
    .icon-img {
        z-index: 2;
    }
    &-mask {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
            transition: all 0.3s;
        }
    }
}
.insurance-banner {
    position: relative;
    &-text {
        position: absolute;
        top: 0;
        right: 20px;
    }
    img {
        width: 68%;
        @include view-992 {
            width: 50%;
        }
        @include view-768 {
            width: 100%;
        }
    }
    @include view-992 {
        position: static;
        &-text {
            position: static;
        }
    }
}
.banner-insurance-single {
    // overflow: hidden;
    .title {
        font-size: 40px;
        @include view-1400 {
            font-size: 28px;
        }
        @include view-768 {
            font-size: 6.5vmin;
        }
        @include view-576 {
            font-size: 5.5vmin;
        }
    }
    .desText {
        font-size: 20px;
        @include view-1400 {
            font-size: 16px;
        }
        @include view-768 {
            font-size: 3.5vmin;
        }
        @include view-576 {
            font-size: 3.5vmin;
        }
    }
    .content {
        color: #fff;
        text-align: center;
        z-index: 10;
        // padding-top: 70px;
        // height: 100vh;
        & > .container {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // margin-top: 120px;
            // @include view-992 {
            //     position: static;
            //     top: 0;
            //     left: 0;
            //     transform: none;
            //     padding-bottom: 20px;
            // }
        }
        @include view-992 {
            width: 100%;
            height: auto;
        }
        .insurance-3d-img {
            margin-top: -65px;
            @include view-1400 {
                width: 360px;
            }
            @include view-992 {
                margin-top: -31px;
                margin: 20px 0;
            }
            @include view-768 {
                margin-top: 0px;
            }
            @include view-576 {
                width: 300px;
            }
        }
    }
    .read-more {
        transition: all 0.4s;
        &:hover {
            padding-top: -6px;
        }
    }
}
.container-style {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(#9b9b9b, 0.7);
        position: absolute;
        top: 0;
        left: 0;
    }
    &-travel {
        &::after {
            content: "";
            background: rgba($travel, 0.7);
        }
    }
    &-pet {
        &::after {
            content: "";
            background: rgba($pet, 0.7);
        }
    }
    &-vaccine {
        &::after {
            content: "";
            background: rgba($vaccine, 0.7);
        }
    }
    &-car {
        &::after {
            content: "";
            background: rgba($car, 0.7);
        }
    }
    &-scooter {
        &::after {
            content: "";
            background: rgba($scooter, 0.7);
        }
    }
    &-accident {
        &::after {
            content: "";
            background: rgba($accident, 0.7);
        }
    }
    &-life {
        &::after {
            content: "";
            background: rgba($life, 0.7);
        }
    }
    &-walk {
        &::after {
            content: "";
            background: rgba($walk, 0.7);
        }
    }
    &-healthy {
        &::after {
            content: "";
            background: rgba($healthy, 0.7);
        }
    }
    @include view-1400 {
        background-size: cover;
        background-position: center center;
    }
}

//@ Member Model
.member {
    &-container {
        margin-top: -120px;
        @include view-992 {
            margin-top: 0;
        }
    }
    .title {
        @include view-992 {
            @include position-center;
            top: -105px;
        }
    }
    .option-list {
        margin-top: 80px;
    }
    .option-item {
        display: flex;
        align-items: center;
        button {
            color: $primary-l;
            transition: all 0.3s;
            &:hover {
                color: $primary;
            }
        }
    }
}



.goto-insurance {
    //立即投保
    transition: all 0.3s;
    border-radius: 50%;
    &:hover {
        background: $secondary !important;
        color: #fff;
        font-size: 18px;
    }
    &:active {
        font-size: 16px;
    }
}
//@ product button read more (了解更多)
.pro-read-more {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: block;
    background: #b5e4b1;
    bottom: 396px;
    right: 25px;
    z-index: 10;
}

//@ rule-button-list 條款及宣告
.rule-button-list {
    button {
        border: 1.5px solid $gary;
        color: $gary;
        width: 100%;
        border-radius: 50px;
        font-weight: bolder;
        text-align: center;
        &:hover,
        &:active,
        &:focus {
            border: 1.5px solid $primary;
            color: $primary;
        }
    }
    .check {
        background: $primary;
        color: #fff;
        border: 1.5px solid transparent;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
            border: 1.5px solid transparent;
        }
    }
}

//@ insurance-case
.insurance-case {
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba($gary, 0.3);
    position: relative;
    background: #fff;
    display: flex;
    @include view-768 {
        display: block;
    }
    .header {
        background: $primary;
        padding: 21px;
        width: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include view-768 {
            display: block;
            width: 100%;
        }
        p {
            font-size: 24px;
            color: #fff;
            text-align: center;
        }
    }
    .title {
        h5 {
            font-size: 18px;
            white-space: initial;
        }
        button {
            margin-top: 10px;
        }
    }
    .body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include view-768 {
            display: block;
        }
        &:hover {
            background: $primary-s !important;
            transition: all 0.2s;
            // cursor: pointer;
        }
    }
}
.insurance-case-list {
    li {
        background: $primary-m;
        font-weight: bolder;
        padding: 15px;
        border: 1px solid #d8d8d8;
    }
}

//@ insurance-case-modal
.insurance-case-modal {
    width: 250px;
    text-align: center;
    overflow: hidden;
    position: relative;
    .header {
        border: 1px solid #d8d8d8;
        background: $primary;
        padding: 8px 0;
        height: 73px;
        p {
            font-size: 24px;
            color: #fff;
        }
    }
    .title {
        padding: 10px;
        height: 130px;
        background: $primary-s;
        border: 1px solid #d8d8d8;
        h5 {
            color: $primary;
            font-size: 18px;
            white-space: initial;
        }
        button {
            margin-top: 10px;
        }
    }
    .footer-detail {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        button {
            border: 2px solid $primary-l;
            color: $primary-l;
            font-weight: bolder;
        }
    }
}

//@ 流程步驟圖
.steps {
    position: relative;
    margin-bottom: 30px;
    counter-reset: step;
    display: flex;
    /*計數器容器*/
    & li {
        list-style-type: none;
        font-size: 14px;
        text-align: center;
        width: 25%;
        position: relative;
        float: left;
        color: $gary;
    }
    /*步驟數字*/
    & li:before {
        display: block;
        content: counter(step); /*設定計數器內容*/
        counter-increment: step; /*計數器值*/
        width: 48px;
        height: 48px;
        background-color: $primary;
        line-height: 48px;
        border-radius: 32px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        margin: 0 auto 8px auto;
        z-index: 2;
        position: relative;
        @include view-576 {
            width: 38px;
            height: 38px;
            line-height: 38px;
        }
    }

    & li ~ li:after {
        content: "";
        width: 60%;
        height: 1.5px;
        position: absolute;
        left: -30%;
        top: 36%;
        transform: translateY(-50%);
        z-index: 1;
        //* 製作虛線
        background-image: linear-gradient(to right, $primary-l 0%, $primary-l 50%, transparent 50%);
        background-size: 6px 1px;
        background-repeat: repeat-x;
        @include view-576 {
            width: 25%;
            left: -12%;
        }
    }

    & li.done {
        color: $primary-l;
        &:before {
            content: url("../../../../public/image/icon/check.svg");
            background-color: $primary-l;
            line-height: 54px;
            @include view-576 {
                line-height: 43px;
            }
        }
    }

    & li.active {
        color: $primary;
    }

    & li.active ~ li:before {
        background-color: $primary-m;
        border: 1.5px solid $gary;
        color: $gary;
    }
    & li.active ~ li:after {
        height: 1.5px;
        //* 製作虛線
        background-image: linear-gradient(to right, $gary 0%, $gary 50%, transparent 50%);
    }
}

//@ rule info button
.rule-info-button {
    position: relative;
    transition: all 0.3s;
    &:hover {
        &::before {
            content: "詳細說明";
            width: 70px;
            display: block;
            background: $secondary;
            color: #fff;
            font-weight: bolder;
            padding: 5px;
            font-size: 14px;
            border-radius: 5px;
            @include position-center;
            top: -20px;
        }
        &::after {
            content: "▼";
            color: $secondary;
            position: absolute;
            top: -17px;
            left: 2px;
        }
    }
}

//@ ProductDescription 保險公司商品說明書
.product-description {
    h3 {
        font-size: 18px;
        border-bottom: 2px dotted $primary;
        padding-bottom: 8px;
    }
    p {
        line-height: 30px;
    }
    .option-button {
        border-radius: 30px;
        width: 168px;
        text-align: center;
        font-size: 18px;
    }
    .product {
        li {
            border-bottom: 2px dotted $secondary;
            padding: 24px 0;
        }
    }
    .pro-card {
        background: #f5f8e3;
        border-radius: 8px;
        padding: 18px;
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.1em;
            color: $primary;
            border-bottom: 1px solid $primary-l;
            // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        }
        .small-text {
            color: $primary-l;
            font-weight: 700;
            white-space: nowrap;
        }
    }
}

.card-list {
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    .card-header {
        border-radius: 4px 4px 0 0;
        text-align: center;
        color: #fff;
    }
    .card-body {
        border-radius: 0 0 4px 4px;
        background: #fff;
        height: 90%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        padding: 15px;
        li {
            width: 50%;
            @include view-768 {
                width: 100%;
            }
        }
    }
}

//@ hover alert 視窗
.hover-alert {
    position: relative;
    &:hover {
        &::before {
            content: attr(title);
            color: #fff;
            font-weight: bolder;
            padding: 10px;
            margin: 0 5px;
            background: $secondary;
            position: absolute;
            top: -74px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            white-space: pre;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 46%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-top: 8px solid $secondary;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
}

.block-radius-mask {
    //@ 區塊圓弧遮罩
    // clip-path: ellipse(148% 100% at 50% 0%);
    background: #fff;
    @include view-768 {
        // clip-path: ellipse(240% 100% at 50% 0%);
    }
}

.insurance-label-box {
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: 1;
    @include view-992 {
        left: -8px;
    }
    @include view-768 {
        left: 14px;
        top: 14px;
    }
    .insurance-label {
        width: 60px;
        height: 60px;
        background: $secondary;
        border-radius: 50px;
        position: relative;
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 14px;
        }
    }
}

//@ button (outline)
.btn-outline {
    &-primary-l {
        color: $primary-l;
        border: 1.5px solid $primary-l !important;
        &:hover {
            color: #fff !important;
            path {
                fill: #fff !important;
            }
        }
        &:active,
        &:focus {
            border: 1.5px solid $primary-l !important;
        }
    }
}


//@ Function List
.function-list {
    .function-btn {
        transition: all 0.3s;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        display: block;
        img {
            transition: all 0.3s;
            transform: scale(1.2);
        }
        &:active {
            transform: scale(0.9);
        }
        &:hover img {
            transform: scale(1.4);
        }
    }
    .event-btn {
        transition: all 0.3s;
        width: 60px;
        height: 60px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        display: block;
        padding: 0;
        overflow: hidden;
        img {
            transition: all 0.3s;
            transform: scale(1.2);
        }
        &:active {
            transform: scale(0.9);
        }
        &:hover img {
            transform: scale(1.2);
        }
    }
    .gotop {
        background: $primary-m;
        color: $primary-l;
        transition: all 0.3s;
        &:hover,
        &:active {
            background: $primary;
            color: #fff;
            path {
                fill: #fff !important;
            }
        }
    }
    .open-btn {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        color: $light;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 5px;
        p {
            font-size: 16px;
            @include view-576 {
                font-size: 14px;
            }
        }
    }
}

.fb_dialog_content {
    iframe {
        right: 3px !important;
    }
}
